    <!-- Navigation -->
    <%= render "layouts/navbar",  title: 'Publicar noticia', 
                                    admin: true,
                                    index: true%>
<div class="container">
    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Nueva noticia
            </h1>
        </div>
    </div>
</div>

<%= render 'form', news_item: @news_item %>

<!--%= link_to 'Volver', news_items_path %-->
